.chainEvo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 606px) {
  .chainEvo{
    display: block;
  }}
.globalPokeDetail {
 
    p {
      display: flex;
      justify-content: center;
      font-weight: 500;
      font-size: large;
      color: #212121;
      text-transform: uppercase;
    }
    .result {
      color: rgb(110, 108, 108);
    }
    .infosFetch {
        .pokeStat {
          display: flex;
          justify-content: center;
          align-items: center;
            width: 100%;
        }
        
      @media screen and (max-width: 660px) {
         img {
              width: 80%;
              height: auto;
          }
      }
    }
  }



  .pokeStat {
    width: 1000px;
    ul {
            background-color: #e0e0e0;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            border-radius: 30px;
            flex-wrap: wrap;
            width: 599px;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
    

    .statItem {
        margin: 10px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        .statName {
            font-weight: bold;
            color: #333;
            margin-top: 5px; /* Add some space between bar and name */
            text-align: center;
        }

        .barContainer {
            display: flex;
            justify-content: flex-end;
            background-color: #8d4f4f5b;
            border-radius: 5px;
            overflow: hidden;
            height: 250px; 
            width: 40px; 
            position: relative;

            .bar {
                width: 100%; 
                background-color: #4caf4f68;
                color: white;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                font-size: 14px; 
                transition: height 0.3s ease-in-out; 
                position: absolute;
                bottom: 0; 
                max-height: 100%; 
            }

            .barValue {
                margin-bottom: 2px; 
            }
        }
    }
}
